<div class="m-3 p-2" style="border-style: dotted; max-width: 90%; max-height: 85vh;">
    <video id="video" class="">Video stream not available.</video>
    <img id="photo" alt="The screen capture will appear in this box.">
    <button id="startbutton"><i class="fa fa-camera" aria-hidden="true" style="font-size: 30px; padding: 10px;"></i></button>
    <div class="d-flex row m-2">
      <button id="reSnap">Re-Take</button>
      <button id="proceed" (click)="proceed()" class="ml-auto">Proceed</button>
    </div>
</div>
<!-- <div class="output" id="output">
</div> -->
<canvas id="canvas"></canvas>