.modal-header {
    background-color: #B7472A;
}

.content {
    color: white;
    font-size: 18px
}

.d-flex {
    background: #FFF;
    color: #B7472A;
    border-radius: 5px;;
    font-weight: normal
}

.d-flex:hover{
    background: #B7472A;
    color: white;
}

html,body{
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
    .container{
    height: 100%;
    align-content: center;
    }
    
    .card{
    height: 370px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 2; */
    width: 350px;
    background-color: rgba(163, 56, 56, 0.85) !important;
    }

    .card-header h3{
    color: white;
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    font-size: 17px
    }



    
 
    
 
    