<div class="container" *ngIf="!loading">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-head mt-2 p-3" style="background-color: #F79520; color: white; font-size: 18px;">
                <i class="fa fa-arrow-left" style="color: white;" aria-hidden="true" (click) = "backFunc()"></i>
                <span class="offset-3">Cooler Execution</span>
            </div>
            <div class="card-bod p-3 mt-5 d-flex" *ngIf="success" onclick="startCamInIndexHtml()" (click)="snapShot()">
               Take photo
               <i class="fa fa-camera ml-auto" aria-hidden="true"></i>
            </div>
            <div class="card-bod p-3 mt-5 d-flex" *ngIf="failure" (click)="handleError()" >
                {{alert}}
               <i class="fa fa-camera ml-auto" aria-hidden="true"></i>
            </div>
      
        </div>
    </div>
</div>

<div class="container" *ngIf="loading">
    <div class="d-flex justify-content-center h-100">
        <div class="card">
            <div class="card-head text-center text-justify" 
            style="background-color: #F79520;">
                <h3 style="font-size: 16px; letter-spacing: 1px" class="mt-1">Validation Report</h3>
            </div>
            <div class="card-body text-justify text-center pt-5" style="font-size: 15px; color: white">
                <span *ngIf="!success && !failure" class="letter-spacing: 2px">Please wait, Validation in progress.... </span>
                <span *ngIf="success" class="text-justify letter-spacing: 2px">Validation Successfull! You are within 50 meters proximity to this Poc!</span>
                <span *ngIf="failure" class="text-justify letter-spacing: 2px">You are beyond 50meters proximity to this Poc! </span>
            </div>
            <div class="card-footer  ml-auto text-center mr-1" >
                <span *ngIf="success || failure" class="text-justify" (click)="okThanks()">Ok, Thanks!</span>
                <span *ngIf="!success && !failure">Validating...</span>
            </div>
        </div>
    </div>
</div>